*.class
*.log
*.pyc
*.swp
.DS_Store
.atom/
.buildlog/
.history
.svn/
migrate_working_dir/

*.iml
*.ipr
*.iws
.idea/

.vscode/*
!.vscode/settings.json

**/doc/api/
**/ios/Flutter/.last_build_id
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.pub-cache/
.pub/
/build/

app.*.symbols

app.*.map.json

/android/app/debug
/android/app/profile
/android/app/release

**/__pycache__/
*.py[cod]
*.sqlite3
.env
.env.*
Api/.venv/
Api/venv/
venv/
Api/.mypy_cache/

.vscode/*
Front/build/

.venv/

*.ps1

Latex_Doc/*