# Railway Configuration - API Service
# Django + Gunicorn

[build]
builder = "DOCKERFILE"
dockerfilePath = "Api/Dockerfile"

[deploy]
healthcheckPath = "/admin/login/"
healthcheckTimeout = 500
restartPolicyType = "ON_FAILURE"
restartPolicyMaxRetries = 10
